# dependencies
node_modules

# output from webpack
dist/

#for storing secrets
.env

# not sure what this is for.  Copied it from other units - BMA
.vscode/

# ignore coverage reports & tests
/coverage
__tests__